.parent{
    height: 400px;
    width: 400px;
    background-color: blue;
}
.child{
    
        height: 200px;
        width: 200px;
        background-color: rgb(255, 55, 0);
        animation: abhishek 6s infinite;
    
}

@keyframes abhishek {
    0%{
        background-color: cadetblue;
        transform: translateX(0%);
    }

    25%{
        background-color: blueviolet;
        transform: translateY(100%);
        border-radius: 100px;
    }

    50%{
        background-color: rgb(197, 30, 197);
        transform: translate(100%,100%);
        border-radius: 100px;
    }

    75%{
        background-color: rgb(146, 160, 95);
        transform: translateX(100%);
        border-radius: 100px;
    }
}