div{
    height: 400px;
    width: 400px;
    background-color: blue;
   /* // transform: rotate(45deg); */
   /* transform: scale(2); */
   /* transform: skew(20deg); */
   transform: skewY(20deg);
   
}